<section id="contact" class="py-5 bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="section-title">Entre em Contato</h2>
                <p class="section-subtitle">Estamos prontos para ajudar você a se sentir melhor</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="Seu nome">
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Seu email">
                    </div>
                    <div class="form-group mt-2">
                        <label for="message">Mensagem</label>
                        <textarea class="form-control" id="message" rows="4" placeholder="Sua mensagem"></textarea>
                    </div>
                    <div class="row" style="justify-content: center;">
                        <button type="submit" class="btn btn-primary mt-3" style="width: 36%;">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="place-content: center; text-align-last: center;">
                <h5 class="mb-3">Informações de Contato</h5>
                <p><strong>Telefone:</strong> (11) 1234-5678</p>
                <p><strong>Email:</strong> contato.com.br</p>
                <p><strong>Endereço:</strong> Rua da Saúde, 123, São Paulo - SP</p>
            </div>
        </div>
    </div>
</section>