<section id="services" class="py-5" style="background-color: #4c9949;">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="section-title" style="color: white;">Nossos Serviços</h2>
                <p class="section-subtitle" style="color: white;">Oferecemos uma ampla gama de tratamentos
                    especializados</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card service-card">
                    <img class="card-img-top" src="assets/img_1.png" alt="Service 1">
                    <div class="card-body">
                        <h5 class="card-title">Fisioterapia Ortopédica</h5>
                        <p class="card-text">Reabilitação de lesões musculares e ósseas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card service-card">
                    <img class="card-img-top" src="assets/img_1.png" alt="Service 2">
                    <div class="card-body">
                        <h5 class="card-title">Fisioterapia Esportiva</h5>
                        <p class="card-text">Tratamento especializado para atletas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card service-card">
                    <img class="card-img-top" src="assets/img_1.png" alt="Service 3">
                    <div class="card-body">
                        <h5 class="card-title">Reabilitação Pós-cirúrgica</h5>
                        <p class="card-text">Acelere a recuperação após cirurgias.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>