<section id="faq" class="py-5">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="section-title">Dúvidas Frequentes</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="accordion" id="faqAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    O que é Fisioterapia Ortopédica?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#faqAccordion">
                            <div class="card-body">
                                A fisioterapia ortopédica trata lesões dos ossos, músculos, e articulações.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Quanto tempo dura uma sessão de fisioterapia?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                            data-parent="#faqAccordion">
                            <div class="card-body">
                                Uma sessão de fisioterapia geralmente dura entre 45 minutos a 1 hora.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>